.header-view { background-color:#31597a;padding-top:15px;padding-bottom:25px; }
.header-logo { width:180px;height:auto;padding-left:8px; }
.header-subTitle { text-align:center;margin-top:18px;color:#fff;font-weight:600;letter-spacing:2px; }
  